<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Keywords" Content="html,html5,js,es5,es6,css,css3,vue,vuejs,node,nodejs,前端工程师,全栈工程师,python,爬虫">
  <meta name="Description" Content="黑叶HeiYe博客，一个爱于分享和转载技术、资讯的博客。是记录博主学习和成长的一个自媒体博客、个人博客。">
  <title>HeiYe | HeiYehk | 黑叶 | Github博客</title>
  <link rel="stylesheet" href="./public/css/pc_reset.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <link rel="stylesheet" href="./public/css/common.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1791366_lz43fexkf19.css">
  <link rel="stylesheet" href="./public/css/index/index_common.min.css" type="text/css">
</head>
<body>
  <div class="css-background">
    <div class="top-clouds">
      <div class="cloud cloud1"></div>
      <div class="cloud cloud2"></div>
      <div class="cloud cloud3"></div>
      <div class="cloud cloud4"></div>
    </div>
    <div class="birds">
      <span class="bird bird1"></span>
      <span class="bird bird1"></span>
      <span class="bird bird2"></span>
      <span class="bird bird2"></span>
      <span class="bird bird3"></span>
      <span class="bird bird3"></span>
      <span class="bird bird4"></span>
      <span class="bird bird4"></span>
      <span class="bird bird5"></span>
      <span class="bird bird5"></span>
    </div>
  </div>
  <div id="app" class="flex-center">
    <div class="center-layout">
      <div class="logo">
        <img src="./public/img/logo.jpg" alt="HeiYehk logo">
      </div>
      <h1 class="name">HeiYe | 黑叶</h1>
      <p class="description" v-text="myinfo.description"></p>
      <div class="router-link">
        <div class="link" v-for="(item, index) in routerLink">
          <a :href="item.path" v-text="item.name"></a>
        </div>
      </div>
      <div class="contact-list flex-center">
        <div class="icons" v-for="(item, index) in myinfo.contact">
          <a class="iconfont" :title="item.name" :key="index" :class="item.icon" :href="item.info"></a>
        </div>
      </div>
      <div class="hitokoto">
        <div class="hitokoto-top flex-between">
          <span class="hitokoto-from" v-text="'来自:' + (hitokoto && hitokoto.from ? hitokoto.from : '')"></span>
          <span class="hitokoto-id" v-text="'id:' + (hitokoto && hitokoto.id ? hitokoto.id : '')"></span>
        </div>
        <p class="hitokoto-text" :class="hitokoto && hitokoto.hitokoto.length < 20 ? 'text-center' : ''" v-text="hitokoto && hitokoto.hitokoto ? hitokoto.hitokoto : ''"></p>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="./public/js/homeFnjs.js"></script>
  <script>
    window.onload = function() {
      var less = {
        env: "production"
      };
      homeFnjs.read();
      window.app = homeFnjs.app;
    }
  </script>
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
    
</body>
</html>